In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
a = pd.Series(['1', '3', '5', '7'])

In [7]:
a

0    1
1    3
2    5
3    7
dtype: object

In [10]:
b = pd.Series([2, 4, 6, 8, 10.0])

In [11]:
b

0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
dtype: float64

In [12]:
dates = pd.date_range('20110101', periods=12)

In [13]:
dates

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10', '2011-01-11', '2011-01-12'],
              dtype='datetime64[ns]', freq='D')

In [21]:
dateData = pd.DataFrame(np.random.randn(12, 4), index=dates, columns=list('ABCD'))

In [22]:
#same as columns=['A', 'B', 'C', 'D'])

In [20]:
dateData

                   A         B         C         D
2011-01-01  1.468751  0.895262 -1.213243  0.398552
2011-01-02  0.032817  0.634890  0.070299 -1.426116
2011-01-03 -0.846242 -0.139230 -0.000515 -0.342681
2011-01-04  0.341077  0.665298  1.734951 -1.179740
2011-01-05 -1.617551 -1.473609  1.247872 -0.814646
2011-01-06  0.278333  0.089689 -0.493687 -0.765954
2011-01-07 -1.283356 -0.267160 -0.059229  0.546797
2011-01-08 -0.032853 -0.932797 -0.495633  2.266182
2011-01-09  1.405342 -0.717035  0.399151  1.237566
2011-01-10  0.564642  0.265456  0.007229 -0.473556
2011-01-11  0.067872  0.954485  0.333835 -0.114989
2011-01-12  0.085501 -1.876712  2.160213  0.202293