In [71]:
import pandas as pd

In [72]:
import numpy as np

In [73]:
import matplotlib.pyplot as plt

In [74]:
#s = pd.Series(data, index=index)

In [75]:
s = pd.Series(np.random.random(5), index =['a', 'p', 'p', 'l', 'e'])

In [76]:
s # works like print in Jupyter

a    0.292856
p    0.078465
p    0.434190
l    0.171669
e    0.707724
dtype: float64

In [77]:
print(s)

a    0.292856
p    0.078465
p    0.434190
l    0.171669
e    0.707724
dtype: float64

In [78]:
#d for dict data

In [79]:
d = {'cookies': 57, 'pies' : 13, 'cakes' : 2}

In [80]:
pd.Series(d)

cookies    57
pies       13
cakes       2
dtype: int64

In [81]:
pd.Series(d, index =['cakes', 'pies', 'cookies'])

cakes       2
pies       13
cookies    57
dtype: int64

In [82]:
k = {'Col 1' : pd.Series([(1,2), (2,3), (4,7)], index =['Row 1', 'Row 2', 'Row 3']),
     'Col 2' : pd.Series([1, 2, 3], index =['Row 1', 'Row 2', 'Row 3'])}

In [83]:
df = pd.DataFrame(k)

In [84]:
df

        Col 1  Col 2
Row 1  (1, 2)      1
Row 2  (2, 3)      2
Row 3  (4, 7)      3

In [85]:
df = pd.DataFrame(k, index =['Row 1', 'Row 3'])

In [86]:
df

        Col 1  Col 2
Row 1  (1, 2)      1
Row 3  (4, 7)      3

In [87]:
dg = pd.DataFrame(k, index =['Row 2', 'Row 3', 'Row 3'], columns =['Col 3', 'Col 2', 'Col 1'])

In [88]:
dg

      Col 3  Col 2   Col 1
Row 2   NaN      2  (2, 3)
Row 3   NaN      3  (4, 7)
Row 3   NaN      3  (4, 7)

In [89]:
#using a tuples dict

In [92]:
t = pd.DataFrame({('a', 'b'): {('A', 'B'): 1, ('A', 'D'): 2},
   ....:          ('a', 'a'): {('A', 'A'): 3, ('A', 'B'): 4},
   ....:          ('a', 'c'): {('A', 'B'): 5, ('A', 'A'): 6},
   ....:          ('b', 'a'): {('A', 'B'): 7, ('A', 'D'): 14},
   ....:          ('b', 'b'): {('A', 'A'): 9, ('A', 'B'): 10}})

In [93]:
t

       a               b
       b    a    c     a     b
A A  NaN  3.0  6.0   NaN   9.0
  B  1.0  4.0  5.0   7.0  10.0
  D  2.0  NaN  NaN  14.0   NaN

In [94]:
pd.DataFrame.from_dict(dict([('A', [1, 2, 3]), ('B', [4, 5, 6])]))

   A  B
0  1  4
1  2  5
2  3  6

In [96]:
#If you pass orient='index', the keys will be the row labels. 
#In this case, you can also pass the desired column names:

In [97]:
pd.DataFrame.from_dict(dict([('A', [1, 2, 3]), ('B', [4, 5, 6])]),
   ....:                        orient='index', columns=['one', 'two', 'three'])

   one  two  three
A    1    2      3
B    4    5      6